<% provide(:title, @tag.content) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= @tag.content %>
      </h1>
    </section>
  </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
    <% if @tag.microposts.any? %>
      <h3>Microposts (<%= @tag.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
